* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #4a47c8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 200px;
  height: auto;
}

.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
